---
import MenuComponent from '../components/Menu/MenuComponent.vue';
import { SEO } from "astro-seo";
import avatar from '../assets/butyok_avatar.webp';

export interface Props {
	title: string;
	seoTitle: string;
	seoDescription: string;
}

const {title, seoTitle, seoDescription} = Astro.props;
---

<!DOCTYPE html>
<html lang='hu' class='bg:gray-95 font-family:Roboto' style="display: none;">
	<head>
		<SEO :title={seoTitle}
		:description={seoDescription}
		twitter={{
			card: 'summary',
			creator: '@butyokkapitany3',
			site: '@butyokkapitany3',
			title: seoTitle,
			image: avatar.src,
			imageAlt: 'Bütyök Kapitány avatarja',
			description: seoDescription
		}}
		openGraph={{
			basic: {
				title: seoTitle,
				type: 'website',
				image: avatar.src,
			},
			optional: {
				description: seoDescription
			}
		}}
		charset='UTF-8'
		>
		</SEO>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width' />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<script>
			import '@master/normal.css';
			import { initCSSRuntime } from "@master/css-runtime";
            import config from '../../master.css';
 
            initCSSRuntime(config);
		</script>
		<meta name='generator' content={Astro.generator} />
		<title>{title}</title>
	</head>
	<nav>
		<MenuComponent client:idle></MenuComponent>
	</nav>
	<body>
		<slot />
	</body>
</html>
<style is:global>
@font-face {
	font-family: Roboto;
	src: url('/fonts/RobotoCondensed-Regular.ttf');
}
@font-face {
	font-family: Roboto;
	src: url('/fonts/RobotoCondensed-Bold.ttf');
	font-weight: bold;
}
</style>
